ALDEx2_1.8.0
ampvis2_2.3.2
argparse_1.0.4
bayesm_3.1-0.1
coin_1.2-2
compositions_1.40-1
energy_1.7-2
futile.logger_1.4.3
ggfortify_0.4.5
ggplot2_2.2.1.9000
ggsignif_0.4.0
ggtree_1.8.2
gtools_3.5.0
MASS_7.3-50
NADA_1.6-1
patchwork_0.0.1
pheatmap_1.0.8
proto_1.0.0
reshape2_1.4.3
robustbase_0.92-7
scales_0.5.0.9000
survival_2.42-3
tensorA_0.36
treeio_1.0.2
truncnorm_1.0-8
viridis_0.4.0
viridisLite_0.3.0
zCompositions_1.1.1
